<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    $$HEADTAGS$$
    <ac:templateoverridearea id="HeadTagsAddonArea"></ac:templateoverridearea>
  </head>
  <body class="RightColumn ##PAGEBODYCLASSES##" itemtype="http://schema.org/WebPage" itemscope="">

    <header>
      $$HEADER$$
    </header>

    <ac:templateoverridearea id="HeaderAddonArea"></ac:templateoverridearea>

    <div class="row">

      <section class="col-sm-8 col-md-9">
        $$PAGELAYOUT$$
      </section>

      <aside class="col-sm-4 col-md-3">
        <ac:templateoverridearea id="RightColumn">
          $$RIGHTCOLUMN$$
        </ac:templateoverridearea>
      </aside>

    </div>

    <footer>
      $$FOOTER$$
    </footer>

  </body>
</html>